<form action="/signup" method="POST">
   <label for="name">Name</label>
      <input type="text" name="name">
   
   <label for="password">Password</label>
      <input type="password" name="password">
   

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}