<div class="indexImage">

  <div class="indexInfo">
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
      dignissimos sed sunt similique commodi nemo laudan quaerat eligendi.</h3>
  </div>

</div>

<div class="indexText">

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt earum quia quis cupiditate hic repudiandae officiis a vitae facere harum blanditiis culpa animi ipsa atque amet iste debitis, dolorum sapiente?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur molestiae enim debitis facilis voluptatem itaque porro tenetur. Ipsa, architecto pariatur. Recusandae explicabo atque consequatur, reprehenderit consequuntur voluptas in tenetur ipsum.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta dolorem
    quibusdam modi ullam deleniti, neque quae debitis beatae ipsa. Facere
    voluptas inventore nulla vitae odio recusandae commodi, a at reprehenderit.lorem</p>
</div>