<div class="homeBody">
  <div class="quote">
    <div class="indexImage">

      <div class="indexInfo">

      </div>

    </div>

    <div class="indexText">

      <h2>Switch is an online exchange platform that wants to make the world
        better. Through out our community we promote the protection of the
        environment by recycling and reusing second-hand items, turning what is
        no longer used into a valuable good for someone else.</p>
    </div>
  </div>
</div>


<div class="homeRow">
<div class="sImage">
  <img src="/images/switch.png" alt="">
</div>

<div class="listBody">
<div class="homeList">
<h1>How does it work?</h1>
<ol>
  <li>Create your profile</li>
  <li>Create an ad with the item that you want to switch</li>
  <li>Browse for the new item that you want</li>
  <li>Send a switch request!</li>
</ol>
</div>
</div>
</div>
