<div class="indexImage">

  <div class="indexInfo">

  </div>

</div>

<div class="indexText">

  <p>Switch is an online exchange platform that wants to make the world better.
Through out our community we promote the protection of the environment by recycling and reusing second-hand items, turning what is no longer used into a valuable good for someone else.</p>
</div>

<h1>How does it work?</h1>
<ol>
<li>Create your profile</li>
<li>Create an ad with the item that you want to switch</li>
<li>Browse for the new item that you want</li>
<li>Send a switch request!</li>
</ol>