<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <a href="/">home</a>
  <a href="/list">view all ads</a>
  <a href="/profile">profile</a>
  <a href="/signup">signup</a>
  <a href="/login">login</a>
  <a href="/logout">logout</a>

  <hr />

  <body>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>