/* create ad */

.creatAdBody {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAdForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* edit ad  */
.adEditBody {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adEditForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
