.adsListBody{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allAds{
    width: 70vw;
    border: 2px solid salmon;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

