.authBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.authBox form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}