.authBody{
    height: 86vh;
    
}

.innerauthBody{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.innerauthBody form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}