.barra{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}

.barraRight{
  width: auto;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.createAD{
  font-size: 18px;
  width: 140px;
}

.barraLeft {
display: flex;
flex-direction: row;
align-items: center;
}



.dropdown-content a {
  font-size: 18px;
}

.barraLeft img{
  width: 150px;
  margin-left: 20px;
}

.barraLeft a{
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
  color: black;
}

.barraLeft a:hover {
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
  color: rgb(232, 225, 16);
}

.navProfile, .notybell{
  width: 40px;
}

  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(192, 192, 192);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }





  .myButtonG {
    box-shadow: 0px 1px 0px 0px #fff6af;
    background:linear-gradient(to bottom, #ffec64 5%, #e6e318 100%);
    background-color:#ffec64;
    border-radius:6px;
    border:1px solid #e6e318;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:5px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
  }
  .myButtonG:hover {
    background:linear-gradient(to bottom, #e6e318 5%, #ffec64 100%);
    background-color:#e6e318;
  }
  .myButtonG:active {
    position:relative;
    top:1px;
  }
  
          