.profileBody {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.profileDiv {
  width: 70vw;
  display: flex;
  flex-direction: row;
  border: 2px solid salmon;
}

.profileImgDiv {
  border: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#userImage {
  width: 200px;
}

.userInfoInnerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.userAds {
  width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid yellow;
}
.eachAd {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  border: 2px solid black;
  width: 17vw;
  height: auto;
  margin: 10px;
}

#adImage {
  width: 110px;
  height: 120px;
}
