/* NOTIFICATIONS */
.notif {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notifImage img {
  width: 50px;
  height: 50px;
}

.notifButtons {
  display: flex;
  flex-direction: row;
}

/* REQUEST FORM */
.formRequestDiv {
  width: 60vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  border: 2px solid lightgray;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin-top: 30px;
}

.formRequestDiv form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60vw;
  margin-left: 30px;
}

.sendRequestForm select {
  margin-bottom: 30px;
  width: 56vw;
  border: 2px solid lightgray;
  margin-top: 5px;
}

.sendRequestForm textarea {
  margin-bottom: 30px;
  width: 56vw;
  border: 2px solid lightgray;
  margin-top: 5px;
}
.sendSwitchReqBtnDiv {
  display: flex;
  justify-content: center;
  width: 57vw;
}

.sendSwitchReqBtn {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.sendSwitchReqBtn:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}
.sendSwitchReqBtn:active {
  position: relative;
  top: 1px;
}

/* REQUEST RESPONSE VIEW */

.reqResBody {
  width: 100vw;
}

.requestAcceptmsg {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.reqAccept {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  background-image: url("/images/switch.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  margin-top: 30px;
}

.requestCard {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.imageSwitchDiv img {
  width: 300px;
}
.senderReqInfo {
  width: 300px;
  min-height: 700px;
  border: 2px solid lightgray;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.receiverReqInfo {
  width: 300px;
  min-height: 700px;
  border: 2px solid lightgray;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.senderSender {
  height: 400px;
  margin-left: 20px;
}

.receiverReceiver {
  height: 400px;
  margin-left: 20px;
}

.senderItem {
  margin-left: 20px;
}
.receiverItem {
  margin-left: 20px;
}

.senderSender img {
  width: 150px;
  height: 150px;
}
.senderItem img {
  width: 150px;
  height: 150px;
}
.receiverReceiver img {
  width: 150px;
  height: 150px;
}
.receiverItem img {
  width: 150px;
  height: 150px;
}
