body {
  font: 14px "Helvetica";
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  z-index: -1;
}

a {
  color: #00b7ff;
  margin-right: 5px;
}

h1 {
  color: 15px;
}

/* navbar */

.navB {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

#nav {
  list-style: none;
}

#nav li {
  float: left;
  margin-right: 20px;
  font-size: 14px;
  font-weight: bold;
}

#nav li a {
  color: #333333;
  text-decoration: none;
}

#nav li a:hover {
  color: #006699;
  text-decoration: none;
}

#notification_li {
  position: relative;
}

#notificationContainer {
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, 0.4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  overflow: visible;
  position: absolute;
  top: 45px;
  margin-left: -180px;
  width: 360px;
  z-index: 2;
  padding: 10px;
  display: none; /* Enable this after jquery implementation */
}
/* Popup Arrow*/
#notificationContainer:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid black;
  border-color: transparent transparent white;
  margin-top: -20px;
  margin-left: 188px;
}
#notificationsBody {
  padding: 0px 0px 0px 0px !important;
  min-height: 300px;
}
#notification_count {
  padding: 3px 7px 3px 7px;
  background: #cc0000;
  color: #ffffff;
  font-weight: bold;
  margin-left: 30px;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  position: absolute;
  margin-top: 1px;
  font-size: 11px;
}

/* index */

.indexImage {
  width: 100%;
  height: 30vw;
  background-image: url("/images/bgindex.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  z-index: -1;
}
.indexInfo {
  width: 50%;
  height: 30vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
}

.indexText {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indexText p {
  width: 70%;
}

footer {
  background-color: white;
  border-top: 2px solid lightgray;;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
}

form label{
  font-size: 20px;
}

form input{
  height: 40px;
}

form button{
  font-size: 20px;
}

.listBody{
  width:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px 0px 200px 0px;
}

.homeBody{
  width: 100%;
}

.quote{
  background-color: #CDCDCD;
  position: relative;
  z-index: -5
}

.indexText h2{

  font-size: 25px;
  margin: 130px 0px 100px 0px;
  width: 60vw;
  text-align: center;
}
.homeList h1{
  text-align: center;
}
.homeList{
  font-size: 25px;
}

.sImage{
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  margin-right: 180px;
}
.sImage img{
width: 300px;
height: 300px;
}

.homeList ol li{
  margin-bottom: 10px;
}

.homeRow{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.recNoty{
  border-bottom: 1px solid black;
}

.notifButtons{
  display: flex;
  flex-direction: ;
  justify-content: space-evenly;
}

.notif img{
  margin-right: 20px;
}


.greyBar{
  background-color: lightgray;
}

.greyBar p{
  margin: 0px;
  background-color: lightgray;
  padding-top: 5px;
}

.yellow b{
  text-decoration: none;
  color: #e6e218;
  background-color: gray;
  padding: 2px 4px;
}





