body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  margin-right: 5px;
}

h1 {
  color: 15px;
}

.profileBody {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileDiv {
  display: flex;
  flex-direction: row;
  border: 2px solid salmon;
}

.profileImgDiv {
  border: 2px solid black;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
