body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: #00b7ff;
  margin-right: 5px;
}

h1 {
  color: 15px;
}

#nav{list-style:none}

#nav li {
float: left;
margin-right: 20px;
font-size: 14px;
font-weight:bold;
}

#nav li a{color:#333333;text-decoration:none}

#nav li a:hover{color:#006699;text-decoration:none}

#notification_li
{
position:relative
}

#notificationContainer 
{
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
position: absolute;
top: 30px;
margin-left: -170px;
width: 400px;
z-index: -1;
display: none; /* Enable this after jquery implementation */
}
/* Popup Arrow*/
#notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 188px;
}
#notificationsBody
{
padding: 33px 0px 0px 0px !important;
min-height:300px;
}
#notification_count
{
padding: 3px 7px 3px 7px;
background: #cc0000;
color: #ffffff;
font-weight: bold;
margin-left: 77px;
border-radius: 9px;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
position: absolute;
margin-top: -11px;
font-size: 11px;
}
